/*Estilos generales*/
* {
    margin: 0;
    padding: 0;
}

.noDisplay{
    display: none;
}

.noDecoration {
    text-decoration: none;
    color: #050259;
}

.bgCeleste{background-color: aquamarine;}


.boton {
    padding: 2%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 4px;
    background: #050259;
    color: #F2F2F2;
}

.botonConfirmar {
    padding: 2%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 4px;
    background: #2721c9;
    color: #ffffff;
}

.botonConfirmar:hover {
    background: #F2F2F2;
    color: #2721c9;
}

.botonNoSeleccionable {
    padding: 2%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 4px;
    background: #020033;
    color: #a8a5a5;
}

.botonActivado, .botonColorActivado {
    padding: 2%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 4px;
    background: #F2F2F2;
    color: #050259;
}

.boton:hover {
    background: #F2F2F2;
    color: #050259;
}

.fondoVerde {
    background-color: rgba(128, 255, 0, 0.527);
}

.fondoSeleccionado {
    background-color: rgb(73, 146, 0);
}

.fondoJugadorActivoA, .fondoJugadorActivoB {
    background-color: rgba(218, 165, 32, 0.712);
}

.cercaDelAroA{
    background-color: yellow;    
}

.dobleLargoAroA{
    background-color: goldenrod;
}

.mediaDistanciaAroA{
    background-color: orange;    
}

.tripleAroA {
    background-color: red;
}

.tripleLargoAroA{
    background-color: darkgoldenrod;
}

.tripleMuyLargoAroA{
    background-color: brown;
}

.tripleSuperLargoAroA{
    background-color: purple;
}

.tripleExtremadamenteLejosAroA{
    background-color: grey;
}

body{
    padding: 10px;
    max-width: 100vw;
}
/*Estilos index*/
.bodyIndex {
    background-image: url(../Img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: 120vw;
    background-position-x: center;
}

.flexIndex {
    height: 90vh;
    width: 97vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.logo{
    width: 10vw;
}

.titulo{
    width: 20vw;
    font-family: 'Petrona', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5vw;
    line-height: 4vw;
    color: #050259;
}

.opcionesPrincipales {
    padding: 5%;
    margin-top: 4%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 28vw;
    height: 45vh;
    background: #050259;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 4px;
    color: #F2F2F2;
}

.opcionesPrincipales div {
    width: 100%;
    height: 33%;
    border-radius: 4px;
}

.opcionesPrincipales div:hover {
    background: #F2F2F2;
    color: #050259;
}

.opcionesPrincipales div p {
    text-align: center;
    margin: 15%;
    font-size: larger;
}

.footerIndex {
    margin: 10% 30% 5px 30%;
}

/*Estilos página de juego*/
.bodyJuego{
    background-color: #C4C4C4;
}

.headerJuego {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.logoJuego {
    width: 55px;
    height: 55px;
    margin: 0px 21px;
}

.spanLeyendaLogo {
    font-family: 'Petrona', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    text-align: start;

    color: #050259;
}

.contenedorBotonesConfiguracion {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    height: 50px;
}

.contenedorBotonesMostrarStatsJugadores {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 30px 5vw 5px 5vw;
}

.contenedorCanchaCompletaYStats {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.contenedorStatsEquipoA {
    width: 10%;
    margin-left: 20px;
}

.contenedorStatsEquipoB {
    width: 10%;
    margin-right: 20px;
}


.contenedorCanchaCompleta {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    justify-content: stretch;
    height: 37vw;
    background-image: url(../Img/miCancha.jpg);
    background-size: cover;
}

.contenedorCanchaCompleta div {
    border: black 1px ridge;
}

.contenedorCanchaCompleta div img {
    position: absolute;
    width: 3vw;
    height: 4vh;
    padding: 2px 0px;
}

.conPelota {
    z-index: 2;
}

.contenedorBotonesDeAccion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0px;
}
